@import './style.css';
@import './unterseite.css';

main {
    background-image: url(../imgs/angebote-pic-menu.png);
}

.content {
    display: flex;
    flex-direction: column;
    gap: 74px;
}

.slider {
    display: flex;
    gap: 32px;
    flex-wrap: nowrap;
}

.product-box {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: 305px;
}

.product-box img {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: 5px 5px 10px var(--shadow-color);
}

.product-box p {
    font-size: var(--fs-small);
}

.product-box .price {
    font-size: var(--fs-medium);
    text-align: right;
    margin-top: auto;
}





.slider-container {
    padding-bottom: 12px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    /* Firefox: schmaler, aber sichtbar */
    scrollbar-color: var(--gray) transparent;
    /* Standard: unsichtbar */
}

.slider-container:hover,
.slider-container:active {
    scrollbar-color: var(--gray) transparent;
    /* Beim Hover/Scrollen: sichtbar */
}

.slider-container::-webkit-scrollbar {
    height: 8px;
    background: transparent;
}

.slider-container::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 4px;
    transition: background 0.3s;
}

.slider-container:hover::-webkit-scrollbar-thumb,
.slider-container:active::-webkit-scrollbar-thumb {
    background: var(--gray);
}

.slider-container::-webkit-scrollbar-track {
    background: transparent;
}