@import './style.css';
@import './unterseite.css';



main {
    background-image: url(../imgs/lovestory-pic-menu.png);
}

.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px;
}

.content img {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    overflow: hidden;
    object-fit: cover;
}