@import './style.css';



main {
    box-shadow: inset 0px 0px 99px black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    padding: 20px 48px;
    justify-content: space-between;
    align-items: center;
}

.home {
    width: 96px;
    height: 96px;
    background-color: var(--main-color);
    border-radius: 10px;
}

header h1 {
    font-family: var(--ff-title);
    font-size: var(--fs-h1);
    color: var(--main-color);
}

.content {
    padding: 32px;
    background-color: var(--gray-90);
    border-radius: var(--border-radius);
    height: 700px;
}

h2 {
    color: var(--main-color);
    margin-bottom: 16px;
    
    font-family: var(--ff-text);
    font-size: var(--fs-h2);
}

h3 {

    font-weight: var(--fw-normal);
    font-size: var(--fs-text);
    margin-top: 16px;
    margin-bottom: 8px;
}

p {
    margin-bottom: 16px;
}